.container {
  width : 960px;
  margin : 0 auto;
  position: relative;

  .sidebar {
    width : 250px;
    height : 99.98vh;
    position: absolute;
    left: 0;
    background: $sidebar-bg;

    .logo {
      background: $logo-bg;
      height: 65px;
    } // .logo-area
  } // .sidebar

  .main-area {
    position: absolute;
    left: 250px;
    display : inline-block;
    width : 710px;
    background: $main-area-bg;
    height : 93.2vh;

    .header {
      height: 65px;
      background: $header-bg;
      padding-top : 16px;

      input[type="text"] {
        display: block;
        width : 90%;
        margin : 0 auto;
        background: $logo-bg;
        border : 0;
        padding : 8px 14px;
        color : $main-text-color;
        border-radius : 5px;
        font-size : 1em;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          text-align: center;
          font-size : 0.9em;
        }

        &::-moz-placeholder { /* Firefox 19+ */
          text-align: center;
          font-size : 0.9em;
        }

        &:-ms-input-placeholder { /* IE 10+ */
          text-align: center;
          font-size : 0.9em;
        }

        &:-moz-placeholder { /* Firefox 18- */
          text-align: center;
          font-size : 0.9em;
        }    

        &:hover, &:active, &:focus {
          outline: none;
          background: $area-hover;
          border : 0;
        } // hover

      } // input[type="text"]

    } // .header

    .settings-page {
      padding : 20px;
      
      .settings-form {
        margin : 0 auto;
        position: relative;

        .alert {
          position: absolute;
          top: 5px !important;
          line-height: 12px;
          width: 405px;
        }
        
        .form-group {
          position: relative;  
        }

      } // settings-form
    } // .settings-page
  } // .main-area
} // .container