.navLink {
  display: block;
  padding : 12px 12px;
  color : #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight : bold;
} // .nav-link

.navLink.dark {
  color : white;
}

.navLink.dark:hover {
  background: #353e50;
}

.navLink span {
  margin-right : 8px;
}

.navLink:hover {
  background-color: rgba(167, 179, 203, 0.3);
  color : #fff;
  text-decoration: none;
}