$user-panel-bg-hover : #353e50;
$main-text-color : #a7b3cb;

.nav_link {
  display: block;
  padding : 12px 12px;
  color : $main-text-color;
  font-family: 'PT Sans', sans-serif;
  font-weight : bold;

  &.dark {
    color : white;
    &:hover {
      background: $user-panel-bg-hover;  
    }
  } // &.dark

  span {
    margin-right : 8px;
  }

  &:hover, &:active, &:focus {
    background-color: $main-text-color;
    color : #fff;
    text-decoration: none;
  }
} // .nav-link