$error-color : #a94442;

.form {
  .input_field {
    position : relative;
  } // .input-field

  .error_msg {
    color : $error-color;
    position : absolute;
    top : 9px;
    right : 8px;
    font-size : 0.82em;
  } // .error-msg
} // form