.auth_form {
  width : 60%;
  padding-top : 90px;
  margin : 0 auto;
  position: relative;

  h2 {
    font-weight : bold;
    font-size : 1.2em;
    margin-bottom : 16px;
  }

  & > div {
    margin-top: 22px;

    a {
      font-size : 0.9em;
      text-decoration: underline;

      &:last-child {
        float : right;
      }
    } // a
  } // div
} // .auth-form
