$main-text-color : #a7b3cb;
$area-hover: #3a4357;
$logo-bg : #424b5f;
$header-bg : #4f5a6e;

.header {
  height: 65px;
  background: $header-bg;
  padding-top : 16px;
}

.searchBar {
  display: block;
  width : 90%;
  margin : 0 auto;
  background: $logo-bg;
  border : 0;
  padding : 8px 14px;
  color : $main-text-color;
  border-radius : 5px;
  font-size : 1em;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
    font-size : 0.9em;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    font-size : 0.9em;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    font-size : 0.9em;
  }

  &:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-size : 0.9em;
  }    

  &:hover, &:active, &:focus {
    outline: none;
    background: $area-hover;
    border : 0;
  } // hover
} // .search-bar