@import "sidebar";
@import "header";
@import "settings_page";

.layout-container {
  width : 960px;
  margin : 0 auto;
  position: relative;

  .layout-main-area {
    position: absolute;
    left: 250px;
    display : inline-block;
    width : 710px;
    background: $main-area-bg;
    height : 100vh;

  } // .layout-main-area
} // .layout-container