.layout-settings-page {
  padding : 20px;
  
  .layout-settings-form {
    margin : 0 auto;
    position: relative;

    .alert {
      position: absolute;
      top: 5px !important;
      line-height: 12px;
      width: 405px;
    }
    
    .form-group {
      position: relative;  
    }

  } // .layout-settings-form
} // .layout-settings-page