.post {
  // background: gainsBoro;
  margin-bottom: 8px;
  padding: 10px;
  border-left: 3px solid $logo-bg;
  background: $post-bg-color;

  h3, p {
    color: $header-bg;
  }

  h3 {
    line-height: 10px;
  }

  p {
    font-size: 0.9em;
  }
}
