.main aside {
  .logo-area {
    background: $logo-bg;
    height: 65px;
    
    h2 {  
      color : $main-area-bg;
      line-height : 65px;
      text-align: center;
      font-weight : bold;
      font-size : 1.2em;
    } // h2
  } // .logo-area

  .auth-bar {
    height: 65px;
    border-bottom : 1px solid $border-color;
    transition: all .5s ease;
    overflow: hidden;
  
    & > a.nav-link {
      color : white;
      line-height : 38px;
    } // a.nav-link

    &.expanded {
      height : 148px;
      background: $user-panel-bg;

      .control {
        transform: rotate(-180deg);
      }

    } // .expanded
  } // .auth-bar
} // .main aside 