$main-bg : #dee1e5;
$sidebar-bg : #4f5a6e;
$main-area-bg : #fff;
$header-bg : #4f5a6e;
$logo-bg : #424b5f;
$main-text-color : #a7b3cb;
$area-hover: #3a4357;
$border-color : #485265;
$error-color : #a94442;