.container {
  width : 960px;
  margin : 0 auto;
  position: relative;
}

.mainArea {
  position: absolute;
  left: 250px;
  display : inline-block;
  width : 710px;
  background: #fff;
  height : 100vh;
}

.mainContent {
  padding: 16px;
}
