.menu {
  color : white;
  height: 60px;
  padding-left : 12px;
  line-height : 60px;
  position : relative;
  font-size : 0.9em;
  font-family: 'PT Sans', sans-serif;
  transition: all .5s ease;

  span {
    margin-right : 8px;
  } // span
}

.user_menu {
  composes: menu;
}

.user_menu_expanded {
  composes: menu;
}

.controls {
  position : absolute;
  right : 10px;
  top : 24px;
  transition: all .5s ease;
  border : none;
  background : transparent;
  transition: all .5s ease;

  &:hover, &:focus {
    cursor : pointer;
    border : none;
    outline: 0;
  }
} // .control

.expanded_controls {
  composes: controls;
  transform: rotate(-180deg);
}

.link {
  color: white;

  &:hover, &:active, &:focus {
    color: white;
  }
}

